*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;  
    background: linear-gradient(0deg, rgba(34,193,195,0.711922268907563) 0%, rgba(220,253,45,0.6755077030812324) 100%);  
}

#container{
    width: 800px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.card{
    background: radial-gradient(circle, rgba(201,152,237,1) 0%, rgba(89,179,233,1) 100%);
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 10px;
    font-size: 30px;
    cursor: pointer;
    color: transparent;
    
}
.card:hover{
    background: rgba(201,152,237,1);
}
.open{
    color: black;
    background: rgb(133, 215, 132);
    cursor: default;
}


.open:hover{
    background-color: rgb(133, 215, 132);
}

.success{
    color: black;
    background: rgb(214, 222, 72);
    cursor: default;
}

.success:hover{
    background: rgb(214, 222, 72);;
}

